body {
    background-image:url("./fon.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color:aliceblue;
    font: size 20px;
    font: weigt 500px;  

}
.avatar {

   width: 200px;
   /* .round {
    border-radius: 100px; 
   } */
}